.biografiaP {
    width: 600px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid;
    border-color: #E6E6E6;
    box-shadow: none;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    
}
p {
    font-weight: bold;
}